body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(images/backgr.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 55px;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
}

h1 {
    font-size: 70px;
    color: black;
    font-weight: bolder;
    margin-bottom: 0px;
    text-align: center;
}

h2{
    font-size: 40px;
    color: black;
    font-weight: lighter;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
}

button:hover{
    transform: scale(1.15);
}

p {
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

button{
    padding: 40px;
    color: transparent;
    border-radius: 50%;
}
 .text-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
 }